.heading {
  margin-bottom: 6px;
}

.divider {
  border-top: 1px solid lightgray;
  margin-top: 0;
  margin-bottom: 12px;
}

.section {
  margin-bottom: 24px;
}

.attribute {
}

.attribute span {
  margin-right: 6px;
}
